<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title> Depends </title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi">

		<script src="bower_components/jquery/dist/jquery.js"></script>
		<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
		<!---<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script> -->
		<script src="bower_components/angular/angular.js"></script>	
		<script src="bower_components/cytoscape/dist/cytoscape.js"></script>
		<script src="bower_components/ngCytoscape/ngCytoscape.js"></script>
		<script src="bower_components/moment/moment.js"></script>
		<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" ></script>


		<link href="style.css" rel="stylesheet" />

	</head>

	<body ng-controller="MainCtrl" ng-keydown="onKeyDown($event)" ng-keyup="onKeyUp($event)">		

		<cytoscape  graph-elements="cy.elements" graph-layout="cy.layout" graph-style="cy.style" ></cytoscape>

		<div class="right-menu">
			<h1>Depend*</h1>
			<div class="form-group">
				<label>이름</label>
				<input  class="form-control input-sm" type="text" ng-model="selected.data.name" placeholder="title"/>
			</div>

			<div class="form-group">
				<label>내용</label>
				<textarea class="form-control" ng-model="selected.data.content" placeholder="contents" rows="10"></textarea>
			</div>

			<!--
			<div class="form-group">
				<label>링크</label>
				<input class="form-control input-sm" type="text" ng-model="form.link" placeholder="http://"/>
			</div>

			<div class="form-group">
				<label>분석</label>
				<table class="table table-condensed table-bordered">
					<tbody>
						<tr>
							<td>의존도</td>
							<td>N</td>
						</tr>
					</tbody>
				</table>
			</div>
			-->

			<label>Short cuts</label>
			<div class="row" style="line-height: 1.5">
				
				<div class="col-xs-4 text-right">
					Edit :
				</div>
				<div class="col-xs-8">
					<span class="label label-default">Ctrl</span> + <span class="label label-default">Enter</span>
				</div>
				
				<div class="col-xs-4 text-right">
					Insert :
				</div>
				<div class="col-xs-8">
					<span class="label label-default">Ctrl</span> + <span class="label label-default">Insert</span>
				</div>

				<div class="col-xs-4 text-right">
					Select :
				</div>
				<div class="col-xs-8">
					<span class="label label-default">←</span>
					<span class="label label-default">↑</span>
					<span class="label label-default">→</span>
					<span class="label label-default">↓</span>
				</div>

				<div class="col-xs-4 text-right">
					Move :
				</div>
				<div class="col-xs-8">
					<span class="label label-default">Ctrl</span> + 
					<span class="label label-default">←</span>
					<span class="label label-default">↑</span>
					<span class="label label-default">→</span>
					<span class="label label-default">↓</span>
				</div>

				<div class="col-xs-4 text-right">
					Remove :
				</div>
				<div class="col-xs-8">
					<span class="label label-default">Delete</span>
				</div>

				<div class="col-xs-4 text-right">
					Chage layout :
				</div>
				<div class="col-xs-8">
					<span class="label label-default">Ctrl</span> + <span class="label label-default">.</span>
				</div>
			</div>
		</div>
		
	</body>

	<script src="js/config.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/ctrl/MainCtrl.js"></script>
	<script src="js/ctrl/NodeEditModalCtrl.js"></script>

</html>
