<div class="modal-header">
	<label>Load document</label>
</div>
<div class="modal-body">
	<div class="jumbotron text-center" ng-show="!firebaseUser">
		<h3><label>Loading..</label></h3>
	</div>
	<table class="table table-bordered table-condensed" ng-show="!!firebaseUser">
		<tbody>
			<tr ng-repeat="doc in documents">
				<td>
					{{doc.name}}
				</td>
				<td class="text-center" style="width:120px;">
					<button class="btn btn-xs btn-warning" ng-click="onClickLoad(doc)">Load</button>
					<button class="btn btn-xs btn-danger" ng-click="onClickDelete(doc)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Close</button>
</div>