<div class="modal-header">
	Save document
</div>
<div class="modal-body">
	<table class="table table-bordered" ng-if="!!firebaseUser && !saving">
		<tr ng-repeat="doc in documents track by $index">
			<td>
				{{doc.name}}
			</td>
			<td>
				<button class="btn btn-warning" ng-click="onClickSave($index)">Save here</button>
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" class="form-control" ng-model="input.name"/>
			</td>
			<td>
				<button class="btn btn-info" ng-click="onClickSaveAs()">Save as new</button>
			</td>
		</tr>
	</table>
	<div class="jumbotron text-center" ng-show="!!saving">
		<label><p class="text-lead">..saving..</p></label>
	</div>
</div>