<div class="modal-header">
	{{title}}
</div>
<div class="modal-body">
	<!-- {{selectedNode}} -->
	<table class="table table-hover table-bordered">
		<tr ng-repeat="node in nodes track by $index" style="cursor:pointer;" ng-click="node.selected = !node.selected" ng-class="{'bg-primary':(!!node.selected)}">
			<td>
				{{node.name}}
			</td>
		</tr>
	</table>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="submit()">Submit</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>